<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="grp3022.bbs.dao.HospitalOrderExtDao" >
  <resultMap id="BaseResultMap" type="grp3022.bbs.po.HospitalOrder" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PAY_WAY" property="payWay" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="DESCRIBE" property="describe" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="FLOAT" />
    <result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
    <result column="CASHIER_ID" property="cashierId" jdbcType="DECIMAL" />
    <result column="PATIENT_ID" property="patientId" jdbcType="DECIMAL" />
    <result column="SUBSIDY" property="subsidy" jdbcType="FLOAT" />
    <result column="PAID_PRICE" property="paidPrice" jdbcType="FLOAT" />
    <result column="PAYER" property="payer" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PAY_WAY, CREATE_TIME, DESCRIBE, STATUS, TOTAL_PRICE, PAY_TIME, CASHIER_ID, PATIENT_ID, 
    SUBSIDY, PAID_PRICE, PAYER, TYPE,UPDATE_TIME
  </sql>
  <select id="selectBySo"  resultMap="BaseResultMap" parameterType="grp3022.bbs.so.HospitalOrderSo">
        SELECT
        *
        FROM HOSPITAL_ORDER
        <where>
        	<if test="payer!=null and payer!=''">
                PAYER LIKE '%'||#{payer,jdbcType=VARCHAR}||'%'
            </if>
            <if test="createTime!=null">
                AND to_char(CREATE_TIME,'YYYY-MM-DD') = to_char(#{createTime,jdbcType=TIMESTAMP},'YYYY-MM-DD')
            </if>
            <if test="status!=null">
                AND STATUS = #{status,jdbcType=DECIMAL}
            </if>
            <if test="payTime!=null">
                AND to_char(PAY_TIME,'YYYY-MM-DD') = to_char(#{payTime,jdbcType=TIMESTAMP},'YYYY-MM-DD')
            </if>
            <if test="patientId!=null">
                AND PATIENT_ID = #{patientId,jdbcType=DECIMAL}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>
    
  
  <insert id="add" parameterType="grp3022.bbs.po.HospitalOrder" >
  		<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">  
	        SELECT SEQUENCE_ORDER.nextval FROM DUAL
	    </selectKey>
    insert into HOSPITAL_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="payWay != null" >
        PAY_WAY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="describe != null" >
        DESCRIBE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="cashierId != null" >
        CASHIER_ID,
      </if>
      <if test="patientId != null" >
        PATIENT_ID,
      </if>
      <if test="subsidy != null" >
        SUBSIDY,
      </if>
      <if test="paidPrice != null" >
        PAID_PRICE,
      </if>
      <if test="payer != null" >
        PAYER,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=FLOAT},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cashierId != null" >
        #{cashierId,jdbcType=DECIMAL},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=DECIMAL},
      </if>
      <if test="subsidy != null" >
        #{subsidy,jdbcType=FLOAT},
      </if>
      <if test="paidPrice != null" >
        #{paidPrice,jdbcType=FLOAT},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>