<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="grp3022.bbs.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="grp3022.bbs.po.Question" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="DESCRIBE" property="describe" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="VIEWS" property="views" jdbcType="DECIMAL" />
    <result column="ANSWERS" property="answers" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="TAGS" property="tags" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="REMINDER" property="reminder" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TITLE, DESCRIBE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, VIEWS, ANSWERS, 
    STATUS, TAGS, NAME, REMINDER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="grp3022.bbs.po.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from QUESTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from QUESTION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from QUESTION
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="grp3022.bbs.po.QuestionExample" >
    delete from QUESTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="grp3022.bbs.po.Question" >
    insert into QUESTION (ID, TITLE, DESCRIBE, 
      CREATE_BY, CREATE_TIME, UPDATE_BY, 
      UPDATE_TIME, VIEWS, ANSWERS, 
      STATUS, TAGS, NAME, 
      REMINDER)
    values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{views,jdbcType=DECIMAL}, #{answers,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{tags,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{reminder,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="grp3022.bbs.po.Question" >
    insert into QUESTION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="describe != null" >
        DESCRIBE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="views != null" >
        VIEWS,
      </if>
      <if test="answers != null" >
        ANSWERS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="tags != null" >
        TAGS,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="reminder != null" >
        REMINDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="views != null" >
        #{views,jdbcType=DECIMAL},
      </if>
      <if test="answers != null" >
        #{answers,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="reminder != null" >
        #{reminder,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="grp3022.bbs.po.QuestionExample" resultType="java.lang.Integer" >
    select count(*) from QUESTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update QUESTION
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.describe != null" >
        DESCRIBE = #{record.describe,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.views != null" >
        VIEWS = #{record.views,jdbcType=DECIMAL},
      </if>
      <if test="record.answers != null" >
        ANSWERS = #{record.answers,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.tags != null" >
        TAGS = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.reminder != null" >
        REMINDER = #{record.reminder,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update QUESTION
    set ID = #{record.id,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=VARCHAR},
      DESCRIBE = #{record.describe,jdbcType=VARCHAR},
      CREATE_BY = #{record.createBy,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.updateBy,jdbcType=DECIMAL},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      VIEWS = #{record.views,jdbcType=DECIMAL},
      ANSWERS = #{record.answers,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      TAGS = #{record.tags,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      REMINDER = #{record.reminder,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="grp3022.bbs.po.Question" >
    update QUESTION
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        DESCRIBE = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="views != null" >
        VIEWS = #{views,jdbcType=DECIMAL},
      </if>
      <if test="answers != null" >
        ANSWERS = #{answers,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="tags != null" >
        TAGS = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="reminder != null" >
        REMINDER = #{reminder,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="grp3022.bbs.po.Question" >
    update QUESTION
    set TITLE = #{title,jdbcType=VARCHAR},
      DESCRIBE = #{describe,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      VIEWS = #{views,jdbcType=DECIMAL},
      ANSWERS = #{answers,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      TAGS = #{tags,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      REMINDER = #{reminder,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectBySo" resultMap="BaseResultMap" parameterType="grp3022.bbs.so.QuestionSo">
		SELECT
		<include refid="Base_Column_List" />
		from QUESTION
		<where>
			<if test="createBy!=null">
				CREATE_BY = #{createBy,jdbcType=DECIMAL}
			</if>
			
			<if test="status!=null">
				AND STATUS = #{status,jdbcType=DECIMAL}
			</if>
			
			<if test="tagIndex!=null and tagIndex!=''">
				AND TAGS LIKE '%'||#{tagIndex,jdbcType=VARCHAR}||'%'
			</if>
			
			<if test="timeFrame!=null and startTime!=null and endTime!=null">
				AND CREATE_TIME between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
			</if>
			
			<if test="keywords!=null and keywords!=''">
				AND (TITLE LIKE '%'||#{keywords,jdbcType=VARCHAR}||'%' OR DESCRIBE LIKE '%'||#{keywords,jdbcType=VARCHAR}||'%')
			</if>
			
		</where>
		ORDER BY 
		<if test="order==0 or order==null">
			CREATE_TIME DESC
		</if>
		<if test="order==1">
			VIEWS DESC,ANSWERS DESC
		</if>
		<if test="order==2">
			UPDATE_TIME DESC
		</if>
	</select>
	
	<select id="selectNewByCreateBy" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		<![CDATA[
		from QUESTION
		where CREATE_BY = #{createBy,jdbcType=DECIMAL} AND STATUS = 10 AND REMINDER < ANSWERS
		ORDER BY CREATE_TIME DESC
		]]>
	</select>
</mapper>