<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="grp3022.bbs.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="grp3022.bbs.po.Question" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="DESCRIBE" property="describe" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="VIEWS" property="views" jdbcType="DECIMAL" />
    <result column="ANSWERS" property="answers" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="PIC_URLS" property="picUrls" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TITLE, DESCRIBE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, VIEWS, ANSWERS, 
    STATUS, PIC_URLS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="grp3022.bbs.po.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from QUESTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from QUESTION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from QUESTION
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="grp3022.bbs.po.QuestionExample" >
    delete from QUESTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="grp3022.bbs.po.Question" >
    insert into QUESTION (ID, TITLE, DESCRIBE, 
      CREATE_BY, CREATE_TIME, UPDATE_BY, 
      UPDATE_TIME, VIEWS, ANSWERS, 
      STATUS, PIC_URLS)
    values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{views,jdbcType=DECIMAL}, #{answers,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{picUrls,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="grp3022.bbs.po.Question" >
  	<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">  
	        SELECT SEQUENCE_QUESTION.nextval FROM DUAL
	</selectKey>
    insert into QUESTION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="describe != null" >
        DESCRIBE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="views != null" >
        VIEWS,
      </if>
      <if test="answers != null" >
        ANSWERS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="picUrls != null" >
        PIC_URLS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="views != null" >
        #{views,jdbcType=DECIMAL},
      </if>
      <if test="answers != null" >
        #{answers,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="picUrls != null" >
        #{picUrls,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="grp3022.bbs.po.QuestionExample" resultType="java.lang.Integer" >
    select count(*) from QUESTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update QUESTION
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.describe != null" >
        DESCRIBE = #{record.describe,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.views != null" >
        VIEWS = #{record.views,jdbcType=DECIMAL},
      </if>
      <if test="record.answers != null" >
        ANSWERS = #{record.answers,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.picUrls != null" >
        PIC_URLS = #{record.picUrls,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update QUESTION
    set ID = #{record.id,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=VARCHAR},
      DESCRIBE = #{record.describe,jdbcType=VARCHAR},
      CREATE_BY = #{record.createBy,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.updateBy,jdbcType=DECIMAL},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      VIEWS = #{record.views,jdbcType=DECIMAL},
      ANSWERS = #{record.answers,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      PIC_URLS = #{record.picUrls,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="grp3022.bbs.po.Question" >
    update QUESTION
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        DESCRIBE = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="views != null" >
        VIEWS = #{views,jdbcType=DECIMAL},
      </if>
      <if test="answers != null" >
        ANSWERS = #{answers,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="picUrls != null" >
        PIC_URLS = #{picUrls,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="grp3022.bbs.po.Question" >
    update QUESTION
    set TITLE = #{title,jdbcType=VARCHAR},
      DESCRIBE = #{describe,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      VIEWS = #{views,jdbcType=DECIMAL},
      ANSWERS = #{answers,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      PIC_URLS = #{picUrls,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>