<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="grp3022.bbs.dao.ReplyMapper" >
  <resultMap id="BaseResultMap" type="grp3022.bbs.po.Reply" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="POST_ID" property="postId" jdbcType="DECIMAL" />
    <result column="CITE_ID" property="citeId" jdbcType="DECIMAL" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="REPLY_TIME" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="REPLY_USER" property="replyUser" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SCORE" property="score" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, POST_ID, CITE_ID, CONTENT, REPLY_TIME, REPLY_USER, NAME, SCORE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="grp3022.bbs.po.ReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from REPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from REPLY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from REPLY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="grp3022.bbs.po.ReplyExample" >
    delete from REPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="grp3022.bbs.po.Reply" >
    insert into REPLY (ID, POST_ID, CITE_ID, 
      CONTENT, REPLY_TIME, REPLY_USER, 
      NAME, SCORE)
    values (#{id,jdbcType=DECIMAL}, #{postId,jdbcType=DECIMAL}, #{citeId,jdbcType=DECIMAL}, 
      #{content,jdbcType=VARCHAR}, #{replyTime,jdbcType=TIMESTAMP}, #{replyUser,jdbcType=DECIMAL}, 
      #{name,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="grp3022.bbs.po.Reply" >
    insert into REPLY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="postId != null" >
        POST_ID,
      </if>
      <if test="citeId != null" >
        CITE_ID,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="replyTime != null" >
        REPLY_TIME,
      </if>
      <if test="replyUser != null" >
        REPLY_USER,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=DECIMAL},
      </if>
      <if test="citeId != null" >
        #{citeId,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null" >
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyUser != null" >
        #{replyUser,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="grp3022.bbs.po.ReplyExample" resultType="java.lang.Integer" >
    select count(*) from REPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update REPLY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.postId != null" >
        POST_ID = #{record.postId,jdbcType=DECIMAL},
      </if>
      <if test="record.citeId != null" >
        CITE_ID = #{record.citeId,jdbcType=DECIMAL},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.replyTime != null" >
        REPLY_TIME = #{record.replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyUser != null" >
        REPLY_USER = #{record.replyUser,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        SCORE = #{record.score,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update REPLY
    set ID = #{record.id,jdbcType=DECIMAL},
      POST_ID = #{record.postId,jdbcType=DECIMAL},
      CITE_ID = #{record.citeId,jdbcType=DECIMAL},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      REPLY_TIME = #{record.replyTime,jdbcType=TIMESTAMP},
      REPLY_USER = #{record.replyUser,jdbcType=DECIMAL},
      NAME = #{record.name,jdbcType=VARCHAR},
      SCORE = #{record.score,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="grp3022.bbs.po.Reply" >
    update REPLY
    <set >
      <if test="postId != null" >
        POST_ID = #{postId,jdbcType=DECIMAL},
      </if>
      <if test="citeId != null" >
        CITE_ID = #{citeId,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null" >
        REPLY_TIME = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyUser != null" >
        REPLY_USER = #{replyUser,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="grp3022.bbs.po.Reply" >
    update REPLY
    set POST_ID = #{postId,jdbcType=DECIMAL},
      CITE_ID = #{citeId,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=VARCHAR},
      REPLY_TIME = #{replyTime,jdbcType=TIMESTAMP},
      REPLY_USER = #{replyUser,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      SCORE = #{score,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>