div.operation {color:5px solid red;}

div.operation > span.glyphicon-edit {color:#dfc3ad;cursor:pointer;margin:auto 5px;}

div.operation > span.glyphicon-trash {color:#9c9c9c;cursor:pointer;margin:auto 5px;}

.btn-default.btn-search {color:#52ad72;font-weight: 900;}

.btn-default.btn-reset {font-weight: 900;}

.Counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    background-color: #03afd6;
    border-radius: 20px;
}

/* 字体风格设置 */
body {
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* 导航栏用户图标靠右 */
ul.float-right{
	float:right;
}

/* 导航栏用户名字体居中 */
p.p-cur-user{
	font-size:12px;
	font-weight:700;
	margin:0;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/* 防止溢出的p标签 */
p.p-control{
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
