h3{
	letter-spacing:2px;
}

div.div-control {
	letter-spacing:1px;
    line-height:2.1;
    word-wrap: break-word;
    margin:0;
}

p.p-control{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.message{
	padding:0;
    width:53em;
    height:24px;
    margin:2px 5px 8px 1em;
}

div.questoin-tags{
	display:inline;
    width:10px;
    margin:0 20px 0 0;
}

div.questoin-tags>a.tag{
	display: inline-block;
    padding: 0 8px;
    color: #5583ab;
    background-color: rgba(1, 126, 102, 0.08); 
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    text-decoration:none;
}

div.questoin-tags>a:hover{
	color: #f4f4f4;
	background-color: #2e485f;
	text-decoration:none;
}

div.questoin-message{
	display:inline;
	float:right;
	padding:2px; 
    width:20em;
    margin:0;
}

div.questoin-message>a{
	float:right;
}

div.questoin-message>label.create-time{
	float:right;
	font-size=1;
	font-weight: 100;
	font-size:8px;
	margin:2px 0 0 4px;
	color:#999;
}

div.answer-message {
	padding:2px; 
    width:53em;
    margin:0 5px 2px 1em;
}

div.answer-message>label.create-time{
	font-size=1;
	font-weight: 100;
	font-size:8px;
	margin:0 0 0 2px;
	color:#999;
}

div.answer-message>label.helpful-block{
	float:right;
	font-size=1;
	font-weight: 100;
	font-size:15px;
	margin:0 5px 0 0;
	/* color:#5cb85c; */
}

div.question {
    width:55em;
    margin:30px 0 0 200px;
    border-width: 1px;
    border-style: solid;
}


div.middle {
    width:55em;
    height:2em;
    margin:20px 0 0 200px;
}

div.middle>div {
    margin:5px 0 0 5px;
}

.middle>label {
	margin:5px 0 0 5px;
}

div.answers {
    width:55em;
    margin:10px 0 0 200px;
    border-width: 1px;
    border-style: solid;
}

div.input {
    width:55em;
    margin:20px 0 0 200px;
}

div.bottom {
    width:55em;
    height:2em;
    margin:5px 0 20px 200px;
}

span.default {
	color:#ccc;
	cursor: pointer;
}

span.success {
	color:#5cb85c;
}

span.fail {
	color:#d9534f;
}
