div{
	display:block;
}

div.container{
	width:1020px;
	margin:0 auto;
}

div.left-panel{
	width:25%;
	float:left;
	padding:0 20px 0 0;
	/* border:1px solid #2e485f; */
}

div.left-panel>div{
	height:54px;margin:8px 0
}

div.left-panel>div>div{
	width:50%;display:inline-block;text-align:center;font-size:17px;
}

div.left-panel>div>div>p{
	font-size:14px;
}

div.left-block{
	border-right:0.5px solid #e8e8e8;
}

div.right-block{
	float:right;
}

div.main-panel{
	width:75%;
	float:left;
	padding:0 0 0 10px;
	/* border:1px solid #2e485f; */
}

div.content{
	padding:10px 5px 0 5px;
}

div.data-chart{
	display: inline-block;
	width: 45%; 
}
.data-chart>div.text{
	margin:0 0 0 127px;
	font-size: 13px;
}

.nav>li>a.spacing{
	padding:10px 40px;
}

.btn-op {
    background-color: #0000a0;
    margin:10px 0 0 0;
}

a.sign{
	font-size:15px;
}

div.info-nav{
	font-size:20px;
}

input.round,select.round{
	border-radius: 4px; border: 1px solid #ccc;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
